body, html, .footer {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}

h4 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}


main {
    height: 50%;

}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(IMG_0277.JPG);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: large;
  font-weight: lighter;
}
 

.hero-text button {
    border: none;
    border-radius: 30px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: rgb(12, 202, 28);
    text-align: center;
    cursor: pointer;
    position: sticky;
  }
  
.hero-text button:hover {
    background-color: #555;
    color: white;
  }

@media screen and (max-width: 320px) {
    body, html, header {
      background-color: black;
    }
  }

  @media screen and (max-width: 600px) {
      .hero-text h1 {
         display: none;
      }   
  }
  {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-image: url(rulle.jpg);
    padding: 10px;
    flex: 50%;
    margin: 10px;
  }
  
  .flex-item-right {
    background-color:lightgrey;
    padding: 10px;
    flex: 50%;
    margin: 10px;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }
 

 nav, .navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky; 
    top: 0;
  }
  
   a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: black;
    color: white;
  }

  
  footer ul a {
      list-style-type: none;
      background-color: lightgrey;
    color: black;

      /*
    display: flex;  
    background-color: #333;
    flex: auto;
    margin: 0;
    padding: 0; */
  }
